* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  /* phones */
  .SignupPage {
    background-color: #214A77;  
    text-align: center;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 50px 50px 50px;
    
  }
  .email, .password{
    margin: 20px;
  }

  input {
    height: 25px;
    width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
  }
  
  .signUpButtons {
    font-size: 16px;
    border-radius: 4px;
    padding: 5px 10px;
    background: #E6E6EB;
    color: #214A77;
    margin-top: 10px;
}
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
.SignupPage {
  background-color: #214A77;  
  text-align: center;
  color: white;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 50px 50px 50px;

}

.SignupForm {
  display: block;
}

input {
  height: 25px;
  width: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid black;
}

.email, .password{
  margin: 20px;
}

.signUpButtons {
  font-size: 16px;
  border-radius: 4px;
  padding: 5px 10px;
  background: #E6E6EB;
  color: #214A77;
  margin-top: 10px;
}
}

@media only screen and (min-width: 1000px) {
  /* tablets and desktop */

  .SignupPage {
    background-color: #214A77;  
    text-align: center;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 50px 50px 50px;
  }
  
  .SignupForm {
    display: block;
  }
  
  input {
    height: 50px;
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
  }
  
  .email, .password{
    margin: 40px;
  }
  
  .signUpButtons, .loginbuttons {
    font-size: 22px;
    border-radius: 4px;
    padding: 5px 10px;
    background: #E6E6EB;
    color: #214A77;
    margin: 20px;
  }
}