* {
    box-sizing: border-box;
}

.pupservationBar-container{
    text-align: center;
    border-top: 1px solid lightgray;
    padding: 20px;
    background: #214A77;
}

.pupservationBar-link{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}