
@media only screen and (max-width: 768px) {
 
  .AddPupPage {
    background-color: #214A77;  
    text-align: center;
    color: white;
    width: 90%;
    margin: auto;
    padding: 25px;
    padding-top: 100px
  }

  input {
    height: 25px;
    width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
    background-color: white;
    font-size: 14px;
    color: gray;
  }

.pup-name, 
.breed, 
.allergies, 
.hobbies, 
.parent-name,
.pup-image {
  margin-bottom: 25px;
  font-size: 16px;
}

.savePupButton {
  font-size: 16px;
  border-radius: 4px;
  padding: 5px 10px;
  background: #E6E6EB;
  color: #214A77;
  margin: 10px 20px 0 0;
}
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .AddPupPage {
    background-color: #214A77;  
    text-align: center;
    color: white;
    width: 70%;
    margin: auto;
    padding: 25px;
    padding-top: 100px
  }

  input {
    height: 40px;
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid black;
    background-color: white;
    font-size: 22px;
    color: gray;
  }

.pup-name, 
.breed, 
.allergies, 
.hobbies, 
.parent-name,
.pup-image {
  margin-bottom: 25px;
  font-size: 22px;
}

.savePupButton {
  font-size: 16px;
  border-radius: 4px;
  padding: 5px 10px;
  background: #E6E6EB;
  color: #214A77;
  margin: 10px 20px 0 0;
}
}

@media only screen and (min-width: 1000px) {
    /* tablets and desktop */
    .AddPupPage {
      background-color: #214A77;  
      text-align: center;
      color: white;
      width: 60%;
      margin: auto;
      padding: 25px;
      padding-top: 100px
    }
  
    input {
      height: 40px;
      width: 700px;
      display: block;
      margin-right: auto;
      margin-left: auto;
      border: 2px solid black;
      background-color: white;
      font-size: 22px;
      color: gray;
    }
  
  .pup-name, 
  .breed, 
  .allergies, 
  .hobbies, 
  .parent-name,
  .pup-image {
    margin-bottom: 25px;
    font-size: 22px;
  }
  
  .savePupButton {
    font-size: 16px;
    border-radius: 4px;
    padding: 5px 10px;
    background: #E6E6EB;
    color: #214A77;
    margin: 10px 20px 0 0;
  }
}