* {
    box-sizing: border-box;
}

.pupservationContainer {
    margin: 30px;
}

.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;

}

.dropdown--active .dropdown__content {
    display: block;
}

.pupservation-header {
    color: #392942;
    text-shadow: white;
}