* {
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    /* phones */
.pupservationContainer {
    margin: 30px;
    background-color: #214A77;  
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 55px;
}

.pupservation-heading {
    text-align: center;
    margin: 20px 0 20px 0;
    font-size: 26px;

}

input, select {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    font-size: 20px;
}

.pupservation-header {
    color: white;
    text-shadow: gainsboro;
    font-size: 20px;
    padding-top: 10px;

}
}


@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .pupservationContainer {
        margin: 40px;
        background-color: #214A77;  
        color: white;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 55px;
    }
    
    .pupservation-heading {
        text-align: center;
        margin: 20px 0 20px 0;
        font-size: 26px;
    
    }
    
    input, select {
        width: 90%;
        margin: 0 auto;
        background-color: white;
        font-size: 30px;
    }
    
    .pupservation-header {
        color: white;
        text-shadow: gainsboro;
        font-size: 26px;
        padding-top: 10px;
    
    }
}
  @media only screen and (min-width: 1000px) {
      /* tablets and desktop */
      .pupservationContainer {
        margin: 50px;
        background-color: #214A77;  
        color: white;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 55px;
    }
    
    .pupservation-heading {
        text-align: center;
        margin: 20px 0 20px 0;
        font-size: 26px;
    
    }
    
    input, select {
        width: 90%;
        margin: 0 auto;
        background-color: white;
        font-size: 30px;
    }
    
    .pupservation-header {
        color: white;
        text-shadow: gainsboro;
        font-size: 26px;
        padding-top: 10px;
    
    }

 
  }