

@media only screen and (max-width: 767px) {
    /* phones */
.landingPage-container img{
    width: 100%;
}

.landingPage-container h3{
    text-align: center;
}

.landingPage-section1{
    height: auto;
    padding: 20px;
    background-color: #392942;
    text-align: center;
    color: white;
    text-shadow: 1px 1px gainsboro;
    font-size: 20px;
}

.landingPage-section2{
    background-color:  #E6E6EB;
    height: auto;
    padding: 20px;
    text-align: center;
    color: black;
    text-shadow: 1px 1px white;
    font-size: 20px;
}


.landingPage-section3{
    height: auto;
    padding: 20px;
    background-color: #392942;
    text-align: center;
    color: white;
    text-shadow: 1px 1px gainsboro;
    font-size: 20px;
    margin-bottom: 50px;
}
}



@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .landingPage-container img{
        width: 90%;
    }
    
    .landingPage-container h3{
        text-align: center;
    }
    
    .landingPage-section1{
        height: auto;
        padding: 25px;
        background-color: #392942;
        text-align: center;
        color: white;
        text-shadow: 1px 1px gray;
        font-size: 28px;
    }
    
    .landingPage-section2{
        height: auto;
        padding: 25px;
        background-color:  #E6E6EB;
        text-align: center;
        color: black;
        text-shadow: 1px 1px white;
        font-size: 28px;
    }
    .landingPage-section3{
        background-color:  #392942;
        height: auto;
        padding: 50px;
        text-align: center;
        color: white;
        text-shadow: 1px 1px gainsboro;
        font-size: 28px;
        margin-bottom: 50px;

    }
}

@media only screen and (min-width: 1000px) {
    /* tablets and desktop */
    .landingPage-container img{
        width: 75%;
        height: 100%;
    }
    
    .landingPage-container h3{
        text-align: center;
    }
    
    .landingPage-section1{
        height: auto;
        padding: 50px;
        background-color: #392942;
        text-align: center;
        color: white;
        text-shadow: 1px 1px gray;
        font-size: x-large;
    }

    .landingPage-section2{
        height: auto;
        padding: 50px;
        background-color:  #E6E6EB;
        text-align: center;
        color: black;
        text-shadow: 1px 1px white;
        font-size: x-large;
    }

    .landingPage-section3{
        background-color:  #392942;
        height: auto;
        padding: 50px;
        text-align: center;
        color: white;
        text-shadow: 1px 1px gainsboro;
        font-size: x-large;
    }
}


