.hamburger-menu{
    font-size: 24px;
    float: left;
    margin-right: 0;
    margin-left: 15px;
}

nav {
    display: inline;
}

.navigation {
    float: left;
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1;
    padding: 20px 0px;
    margin-bottom: 100px;

}