.usersPupsPage-container main{
    text-align: center;
  }
  
.usersPupsPage-container ul{
    padding: 0;
    list-style-type: none;
  }
  
.usersPupsPage-container ul img{
    width: 50px;
  }

.usersPupsPage-container footer{
  width: 100%;
}

.usersPupsPage-container footer button{
  width: 100%;
  text-align: center;
}