body {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .dogCalendar {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 200px;
    text-align: center;
  }
  
  .title, .dogIcon, .counter {
    border: 2px solid #214A77;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 0;
    color: white;
  }
  
  .title { 
    background-color: #214A77; 
    border-bottom: none;
    border-radius: 10px 10px 0 0;
  }
  
  .counter { 
    position: relative;
    background-color: #214A77; 
    border-top: 0;
    border-radius: 0 0 10px 10px;
    z-index: 4;
    
    
  }
  
  .title, .counter {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.2em;
  }
  
  .dogIcon {
    position: relative;
    background-color: white;
    color: black;
    flex: 2 0 0;
    border-top: 0; border-bottom: 0;
    font-weight: 100;
    font-size: 6em;
  }

.dogAvatars {
  padding: 25px;
  display: flex;
  direction: column;
  justify-content: center;
  background-color: #E6E6EB;
}

.home-header {
    text-align: center;
    text-shadow: 1px 1px white;
    color: #392942;
}

h2:hover {
  color: white;
  cursor: pointer;
}